{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>{% block title %} Hello, world! {% endblock title %}</title>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="row">
          <div class="col-md-4"><a href="#" class="text-muted">Subskrybuj</a></div>
          <div class="col-md-4 text-center">po prostu</div>
          <div class="col-md-4 text-right">
          </div>
        </div>
      </header>
      <hr class="my-1">
      <div class="row">
        <div class="col">
          <nav class="nav justify-content-between">
            <a class="text-muted" href="#">Programowanie</a>
            <a class="text-muted" href="#">Zdjęcia</a>
            <a class="text-muted" href="#">Gry</a>
            <a class="text-muted" href="#">Muzyka</a>
          </nav>
          {% block breadcrumb %}
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'index' %}" class="text-muted"><i class="fas fa-home"></i></a></li>
            </ol>
          </nav>
          {% endblock %}
        </div>
      </div>
      {% block jumbotron %}
      <div class="jumbotron">
        <h1 class="display-4">Hello, world</h1>
        <p class="lead">Witam na moim blogu który jest napisany całkowicie w Django. Na początku 
          to miał być mały projekt, ale chyba wyjdzie z tego coś więcej. Sam wszystko pisze od zera i ten blog będzie to pokazywał. Aktualnie pracuje jako helpdesk ale po godzinach poznaje od nowa pythona i coś od czasu sobię poskrobię. Uwaga, nie jestem programistą. Jak umiem to piszę. 
        </p>
        <hr class="my-1">
        <p class="text-right">sysek</p>
      </div>
      {% endblock %}
      <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% for post in posts %}
              <div class="bg-light padding-box"><p class="h2 text-uppercase text-center"><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></p>
              <p class="text-center"><i class="far fa-calendar-alt"></i> {{ post.date }} <i class="fas fa-user"></i> 
              {{ post.author }}</p>
              <p class="text-justify entry-summary">{{ post.text|safe }}</p></div>
            {% endfor %}
            {% endblock content %}
        </div>
        <div class="col-md-4">
          <p class="h2 text-uppercase">Ostanie posty</p><hr class="my-2">
          <ul class="nav flex-column">
            {% for post in posts %}
              <li class="nav-item links"><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
          <p class="h2 text-uppercase">Inne strony</p><hr class="my-2">
          <ul class="nav flex-column">
            <li class="nav-item links"><a href="https://bitbucket.org/sysek/" target="_blank">bitbucket</a></li>
          </ul>
        </div>
      </div>
        <div class="card-footer text-muted">
          2 days
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>