{% extends "blog/base.html" %}
{% block title %} Hello, world! - {{ post.title }} {% endblock %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}" class="text-muted"><i class="fas fa-home"></i></a></li>
      <li class="breadcrumb-item" aria-current="page">Post</li>
      <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
    </ol>
</nav>
{% endblock %}
{% block jumbotron %} {% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <p class="h2 text-uppercase text-center">{{ post.title }}</p>
        <p class="text-center"><i class="far fa-calendar-alt"></i> {{ post.date }} <i class="fas fa-user"></i> 
        {{ post.author }}</p>
        <p class="text-justify">{{ post.text }}</p>
    </div>
</div>
<a href="{% url 'index' %}">Powrót na stronę główną</a>
{% endblock %}
